
.login{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 400px;
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}



.btn_green{
    font-weight: bold;
    color: white;
    width: 150px;
    height: 30px;
    background-color: #4CAF50;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    flex-shrink: 0;
    border: none;
    display: block;
    margin: 0 auto;
}

.btn_green:hover{
    background-color: #45a049;
}

.link{
    color: darkgray;
}

.link a {
    text-decoration: none;
    
}
