body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #3498db;
    padding-left: 20px;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1000; /* aby byl nad ostatním obsahem */
}

/* LOGO */
.logo {
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 100%;
}

.no-style-link {
  color: inherit;        /* zachová barvu textu */
  text-decoration: none; /* odstraní podtržení */
  cursor: pointer;       /* kurzor ruky při najetí */
  
}

.logo a {
    display: flex;
    align-items: center;
    height: 100%;
}

/* MENU */
.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    height: 100%;
}

/* TLAČÍTKA V MENU */
.menu button {
    color: white;
    background-color: #3498db;
    border: none;
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #2980b9;
}

/* SVISLÁ ČÁRA MEZI TLAČÍTKY */
.menu li {
    border-left: 1px solid white;
}

/* SEARCH BOX */
.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 6px 10px;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
}

.search-box button {
    padding: 6px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.search-box button:hover {
    background-color: #45a049;
}

.user-menu {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 150px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.hidden {
    display: none;
}

.dropdown p {
    margin: 0 0 10px 0;
    font-weight: 500;
}

.dropdown button {
    width: 100%;
    padding: 5px;
    cursor: pointer;
}