body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 10px 20px;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.menu button{
    border: none;
}
.menu li {
    margin-left: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 6px 10px;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
}

.search-box button {
    padding: 6px 10px;
    border: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.search-box button:hover {
    background-color: #777;
}
